
$global-font-family: 'Cairo', sans-serif;
$background: #ffffff;
$section-padding-top : 70px;          
$section-padding-bottom : 70px; 
$main-transition: 0.4S ease-in-out;         
$mainColor: #212529;
$secoundColor: #ffc800;
$secbg: #f6f6f6;

// Media Width 
$maxMobile : "(max-width : 767px)";
$maxSmall :  "(max-width : 991px)";
$minSmall :  "(min-width : 768px)";
$minMedium : "(min-width : 992px)";
$minLarge : "(min-width : 1200px)";
$Xsmall : "(max-width : 520px)";