footer.footer
 .copyRight Copyright © Your Website 2023
 ul.socialMedia
  a(href="#") 
   i(class="fab fa-instagram")
  a(href="#")
   i(class="fab fa-facebook")
  a(href="#")
   i(class="fab fa-linkedin")
 .footerLinks
  a(href="#") Privacy Policy
  a(href="#") Terms of Use