header.header
 .menuIcon
  i(class="fa fa-bars")
 a.logo(href="#")
  img(src="../assets/img/navbar-logo.svg")
 ul.links
  li #[a(href="#services") Services]
  li #[a(href="#portfolio") Portfolio]
  li #[a(href="#about") About]
  li #[a(href="#team") Team]
  li #[a(href="#contact") Contact]